body{
    background-color: #eee;
}
ul{
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul li{
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}
ul li.active,
ul li:hover{
    opacity: 1;
}
ul li:first-child
{
    background-color: red;
}
ul li:nth-child(2){
    background-color: green;
}
ul li:nth-child(3){
    background-color: blue;
}
ul li:nth-child(4){
    background-color: black;
}
.experiment{
    background-color: red;
    width: 70%;
    height: 300px;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 3px rgb(138, 135, 135);
}
.experiment p{
    font-size: 32px;
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}